#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

#DEB_MAKE_CHECK_TARGET = test_coupecoindark
#build/coupecoindarkd::
#	$(if $(filter nocheck,$(DEB_BUILD_OPTIONS)),,src/test_coupecoindark)

DEB_INSTALL_EXAMPLES_coupecoindarkd += debian/examples/*
DEB_INSTALL_MANPAGES_coupecoindarkd += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix coupecoindarkd
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f coupecoindark-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake coupecoindark-qt.pro USE_QRCODE=1

override_dh_auto_test:
	cd src; $(MAKE) -f makefile.unix test_coupecoindark
	src/test_coupecoindark

# Ensure wrapper is set executable
binary-post-install/coupecoindarkd:
	chmod +x $(cdbs_curdestdir)usr/bin/coupecoindarkd
binary-post-install/coupecoindark-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/coupecoindark-qt
